/* font-poppins */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital@1&family=Manrope:wght@700&family=Montserrat:ital,wght@0,500;0,700;1,500&family=Poppins:wght@400;500&display=swap');
/* font-poppins */


/* extra */
body{ 
    font-family: 'Bebas Neue', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

margin: 0;
padding: 0%;

}

/* extra */


/* header-style-start */

.nav-part{
    display: flex;
    justify-content:space-between;
    color: #3A3A3A;
    margin: 0 150px;
   
}

.heading-title{
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
}

.heading-anchors{
        width: 463px;
        height: 36px;
        padding-top: 30px;
      
}

.heading-anchors a{
    text-decoration: none;
    margin-right: 30px ;
    color: #3A3A3A;
    font-size: 16px;
    font-weight:600;
}
/* header-style-end */



/* main-top-part-start */

.main-top-part-header{
    display: flex;
    justify-content:space-evenly;
    margin-top: 70px;
    margin-right: 150px;
}

.heading-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    font-weight: bold;
    font-size: 16px;
    height: 44px;
    width: 196px;
    padding: 10px;
    border-radius: 25px;
}

.main-top-heading{
    font-weight: bold;
    font-size: 52px;
}

.heading-para{
    font-weight: 600;
    font-size: 16px;
}

.heading-button i {
    margin-left: 5px;
}

.camera{
    width: 440px;
    height: 414px;
    position: relative;
    
      
}
.camera-bg{
position: absolute;
height: 475px;
width: 475px;
/* right: 140px;
bottom: 330px; */
}


.main-top-right-img img{
   
    
}

/* main-top-part-end */


/* top-brand-part-start */
.brands-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
   
}
.brands{
    display: flex;
   align-items: center;
   justify-content: center;
   height: 110px;
   width: 1110px;
   background-color: rgba(255, 255, 255, 1);
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.brand-img{
    margin-right: 30px;
}
/* top-brand-part-end*/



/* popular-collection-start */

.popular-collection-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 150px;
    margin-bottom: 150px;

}

.popular-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 100px;
    height: 1662px;
    width: 1047px;
}
.all-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.collection-title{
    font-weight: 500;
    font-size: 28px;
}

.collection{
    height: 476px;
    width: 329px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-right: 30px;
    
    

}

.collection img{
    width: 300px;
    height: 256px;
    
}


.rating i {
    color: orange;
    height: 16px;
    width: 16px;
}

.rating span {
    margin-left: 10px;
    color: #5E6366;
    font-weight: bold;
    font-size: 14px;
}

.collection p{
    margin-left: 10px;
    color: #5E6366;
    font-weight: bold;
    font-size: 14px;
}

.see-more{
    color: #E02C6D;
    position:relative;
    left: 1050px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0%;
    padding-top: 0;
}


/* popular-collection-end */


/* featured-part-start */
.featured-container{
    display: flex;
    justify-content: center;
}

.featured-part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 270px;
}

.featured-img{
    height: 270px;
    width: 404px;
    margin-right: 100px;
}

.featured-descrip{
    width: 610px;
    height: 224px;
    padding-bottom: 50px;
}

.featured-descrip-heading{
    font-weight: bold;
    font-size: 38px;
}

.join-now{
    width: 155px;
    height: 44px;
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 7px 15px;
    margin-top: 10px;
}
.join-now i {
    margin-left: 5px;

}
/* featured-part-end */



/* footer-part-start */

.footer-container{
    margin-top: 100px;
    background-color: #0A0826;
    width: 100%;
    height: 239px;
    display: flex;
    justify-content: center;
    
}
.last-footer-part{
   
}

.footer-heading{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.last-footer-part p{
    color: white;
}

.social-media-icons i{
    color: white;
    width: 32px;
    height: 32px;

}



/* footer-part-end */